body {
		font-family: "Arial", sans-serif;
		text-align: center;
		background-color: lavender;
		color: black;
}


#container {

}


.outer-lightbox {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;

}

.inner-lightbox {
	text-align: center;

}

img {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:	12px solid gold;
	border-radius: 5px;

}

h1 {
	width: 100%;
	background-color: white;
	font-size: 60px;
	padding: 10px 0 10px 0;
}

p {
	width: 800px;
	font-size: 14px;
	text-align: justify;
	margin: 0 auto;
	padding-top: 50px;
	line-height: 25px;
}

a {
	font-size: 20px;
	margin-right: 50px;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: white;
	text-align: center;
	padding: 10px;
  outline: gold dotted thick;
}

a:hover {
	color: grey;
	font-weight: bold;
	padding: 10px;

}

